* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #080807e7;
}

/*HEADER START*/

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #122b38;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .ramirez {
    color: #1a1a1a;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*HERO STYLE START*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../portfolio-main/austin.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*HERO STYLE END*/


/*BENEFITS START*/

.bio {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(202, 62%, 11%);
}

.some-more-bio {
    margin-bottom: 32px;
    color: #ffffff;
}

.interesting-facts {
    margin-bottom: 32px;
    color: #ffffff;
}

.some-more-bio h3 {
    margin-bottom: 10px;
    text-align: center;
}

.interesting-facts h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.some-more-bio img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.interesting-facts img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*SOME MORE BIO END*/


/*CONTENT START*/

.about-me {
    margin-bottom: 20px;
    padding: 70px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(202, 62%, 11%);
    color: #ffffff;
}

.my-projects {
    margin-bottom: 20px;
    padding: 70px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(202, 62%, 11%);
    color: #ffffff;
}

.contact-me {
    margin-bottom: 20px;
    padding: 70px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(202, 62%, 11%);
    color: #ffffff;
}

.about-me img {
    max-width:100%;
    height:auto;
}

.my-projects img {
    max-height: 200px;
}

.contact-me img {
    max-height: 200px;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.my-projects h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.contact-me h2 {
    margin-bottom: 20px;
    font-size: 40px;
}
/*CONTENT END*/


/*FOOTER START*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/*FOOTER END*/

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px){
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
}
    .hero-cta, .hero-form {
        width: 100%;
    }
    .hero-cta {
        text-align: center;
    }
    .section-title {
        width: 80%;
    }
    .trainer {
        flex: 0 70%;
    }
    .contact-info iframe {
        flex: 1 100%;
    }
/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width:768px){
    .service-grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .service-grid-item.basic{
        grid-column: 1;
    }
    .service-grid-item.both{
        grid-column: 1 / -1;
    }
    .service-grid-item.cancel{
        transform: none;
        writing-mode: unset;
        grid-column: 1/ -1;
        grid-row: -1;
    }
    
    
    section {
        padding: 30px 15px;
    }
    .step h3 {
        flex: 1 100%;
        text-align: center;
        justify-content: center;
    }
    .step-info{
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
    }
    .step-text {
        flex: 100%;
    }
} 

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width:575px) {
    .hero-form button {
        width: 100%;
    }
    .section-title {
        width: 95%;
    }
    .intro p {
        width: 100%;
    }
    .trainer {
        flex: 0 100%;
    }
    .contact-info {
        text-align: center;
    }
    .contact-info > * {
        flex: 0 100%;
    }
    .contact-form {
        order: 3;
    }
}  
